body {
    display:  flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Open Sans', sans-serif;
    background:  #2222;
    font-size: 120%;
    background-image: url('https://source.unsplash.com/1600x900/?landscape');
}

.card{
    background: #000000d0;
    padding: 2em;
    margin: 2em;
    max-width: 420px;
    width: 100%;
    color: white;
    align-content: center;
    border-radius: 20px;
    justify-content: center;
    height:40vh;
}

.search{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: small;
}
.search-bar{
    height: 40px;
    border-radius: 10px;
    background-color: #e03d3d2b;
    color:white;
    font-size:25px;
    border: none;
    outline: none;
    width: calc(100% - 100px);
    margin: 0em 0em;
    transition: 0.35s ease-in-out;
    font-family: inherit;
    font-size: medium;
    padding: 0em 0.6em 0em 0.6em;
}

.search-bar:hover{
    background-color: rgb(78, 27, 27);
}

button {
    margin: 0.5em;
    border-radius: 50%;
    border: none;
    height: 44px;
    width: 44px;
    outline: none;
    background: #e03d3d2b;
    color: white;
    cursor: pointer;
    transition: 0.35s ease-in-out;
  }

  button:hover{
      background-color: rgb(82, 37, 37);
  }
  
  .temp{
      font-size: 45px;
      margin: -10px 0px 20px 0px;
  }